
.fontePadrao {
    color:black;
    font-family: Gilroy;
    font-weight: 200;  
}

.azulPrincipal {
    color: #092b9a;
    font-weight: 650;
}

.botaoMenu {
    color: black;
    font-size: 27px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
}

.botaoMenu:hover {
    color: #092b9a;
}

#background {
    height: 1380px;
    width: 1900px;
}

#menu {
    position: absolute;
    left: 160px;
    top: 50px;
    font-weight: 400;
}

#logo {
    position: absolute;
    left: 5px;
    top: -5px;
}

#health {
    position: relative;
    top: 5px;
    left: -15px;
}


#slogan {
    font-size: 60px;
    margin-left: 25px;
    position: absolute;
    top: 80px;
}

#nossaMissao {
    font-weight: 800;
    font-size: 35px;
}

#missao {
    position: absolute;
    bottom: 65px;
    margin-left: 25px;
}



 