body {
    background-image: url("../imagens/background.png");
    background-size: 100% 175%;
    background-repeat: no-repeat;
}

.fontePadrao {
    color:black;
    font-family: Gilroy;
    font-weight: 200;  
}

.azulPrincipal {
    color: #092b9a;
    font-weight: 650;
}

.botaoMenu {
    color: black;
    font-size: 27px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
}

.botaoMenu:hover {
    color: #092b9a;
}

#menu {
    position: absolute;
    left: 160px;
    top: 50px;
    font-weight: 400;
}

#logo {
    position: absolute;
    left: 5px;
    top: -5px;
}

#health {
    position: relative;
    top: 5px;
    left: -15px;
}

#estatua {
    align-items: right;
}

#slogan {
    font-size: 75px;
    margin-left: 25px;
    margin-top: 35px;
}

#nossaMissao {
    font-weight: 800;
    font-size: 35px;
}

#missao {
    font-size: 20px;
    margin-top: 45px;
    margin-left: 25px;
}



 